= render 'layouts/notifications'
%header.header
  %nav.nav
    %ul.header_menu
      %li.nav-link
        = link_to "#{current_user.name}さん", edit_user_path(current_user), class: "nav-link listEdit"
      %li.header_menu_title
        = link_to "SURU::KOTO", root_path, class: "nav-link"
      %li
        %ul.header_menu_inner
          %li
            .nav-link.listNew.signUp-show
              リストを作成
          %li
            = link_to "サインアウト", destroy_user_session_path, method: :delete, class: "nav-link"
