#account-page.account-page
  .account-page__inner.clearfix
    .account-page__inner--left.account-page__header
      %h2 
        SURU::KOTOに
        %br/
        サインイン
      %h5 登録しているユーザーでログイン
      = render "devise/shared/links"
    .account-page__inner--right.user-form
      = form_with scope: resource, as: resource_name, url: session_path(resource_name), local: true do |f|
        .field
          .field-label
            = f.label :email
            %i 
              %br/
              『テストアカウント用 emailアドレス』
              %br/
              aaaa@gmail.com
          .field-input
            = f.email_field :email, autofocus: true, placeholder: "emailを入力してください"
          .field
            .field-label
              = f.label :password
              %i
                (英数字5文字以上)
                %br/
                『テストアカウント用 password』
                %br/
                1234567
            .field-input
              = f.password_field :password, autocomplete: "off", placeholder: "パスワードを入力してください"
          .actions
            = f.submit "Log in", class: 'btn'
